[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/hanpfei
[access "refs/for/refs/*"]
	read = group user/hanpfei
	push = group user/hanpfei
	label-Code-Review = -2..+2 group user/hanpfei
	label-Verified = -1..+1 group user/hanpfei
	rebase = group user/hanpfei
	removeReviewer = group user/hanpfei
	submit = group user/hanpfei
[access "refs/heads/*"]
	read = group user/hanpfei
	create = group user/hanpfei
	push = +force group user/hanpfei
	pushMerge = group user/hanpfei
[access "refs/tags/*"]
	push = +force group user/hanpfei
	pushTag = group user/hanpfei
	pushSignedTag = group user/hanpfei
